# Roblox build output
*.rbxl
*.rbxlx
build/
dist/

# Dependencies & Package Managers
node_modules/
package-lock.json

# Temporary files & swap
*.tmp
*.temp
*.swp
*.bak
*.log
coverage/

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Editor cache
.vscode/
.idea/
.luau-lsp/

# Environment Variables
.env*
!.env.example
